# common
numpy==2.2.5
scipy==1.15.2
pandas==2.2.3
# jax related
jax==0.6.0
optax==0.2.4
flax==0.10.6
# visualization
jupyter==1.1.1
matplotlib==3.10.1
PyQt5==5.15.11
PyYAML==6.0.2
# server
fastapi==0.115.12
uvicorn==0.34.2
